* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: black;
    background-color: #f9f5f0;
    overflow-x: hidden;
}

header {
    position: fixed;
    background-color: white;
    color: black;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    margin-left: 3%;
    width: 10%;
    max-width: 100px;
    height: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 20px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem; /* Space between menu items */
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #FFD369; /* Accent color on hover for interactivity */
}

.nav-toggle {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
}

.hero {
    height: 100vh; 
    background-image: url(../media/hero1.jpeg);
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #FFD369; /* Accent for heading */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2rem;
    max-width: 600px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.cta-button {
    display: inline-block;
    background-color: #FFD369; /* Accent background for button */
    color: #222831; /* Dark text for contrast */
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Subtle hover effects */
}

.cta-button:hover {
    color: white;
    transform: translate3D(0, -10px, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(255, 211, 105, 0.5); /* Glow effect */
}

.cta-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.section {
    padding: 5rem 0;
    height: 50vh;
}

.section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #FFD369;
}

.about {
    background-color: white;
}

.about p, .vision p, .mission p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto 2rem;
    text-align: center;
    color: black;
}