/* default parameter */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', sans-serif;
    line-height: 1.5;
    color: #9f7140;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

/* Start of Header */

header {
    position: fixed;
    background-color: #f9f9f9;
    color: #9f7140;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 20px;
    margin: 0 2% 0 5%;
}

.logo {
    width: 100%;
    max-width: 90px;
    height: auto;
    transition: transform 0.5s ease-out;
}

.logo:active {
    transform: scale(0.95);
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.5s ease-out;
    padding: 2px;
}

.nav-link:hover {
    color: #9f7140;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
}

/* Start of Hero */

.hero {
    height: 100vh; 
    background-image: url(../media/hero1.jpeg);
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding: 0 20px;
}

.hero-content{
    margin-left: 5%;
}

.hero-content h2 {
    font-size: 3rem;
    color: #9f7140;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content p {
    font-size: 1rem;
    color: #262626;
    margin-bottom: 2rem;
    max-width: 600px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.cta-button {
    display: inline-block;
    background-color: #FFD369; /* Accent background for button */
    color: #222831; /* Dark text for contrast */
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Subtle hover effects */
}

.cta-button:hover {
    color: #f9f9f9;
    transform: translate3D(0, -5px, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(255, 211, 105, 0.5); /* Glow effect */
}

.cta-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* Start of Additional Section of Main Page */

/* Default Param */

.section {
    padding: 5rem 0;
    height: 50vh;
}

.section h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #9f7140;
}

.about p, .product p, .testimonials p, .contact p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto 2rem;
    text-align: center;
    color: black;
}

/* Custom Main Page Section */

.product, .product h2{
    color: #f9f9f9;
    background-color: #9f7140;
}

.contact, .contact h2{
    color: #f9f9f9;
    background-color: #9f7140;
}